<div class="panel project" ng-mouseenter="flip()" ng-mouseleave="flipFront()" alt="{{project.Name}}" title="{{project.Name}}">

    <div class="card" ng-class="{flip: flipped}">

        <div class="face front" ng-click="flip()">

            <img ng-src="{{project.ImageURL}}"  alt="{{project.Name}}" title="{{project.Name}}" class="portfolioImg  ng-cloak"/>

        </div>

        <div class="face back" ng-click="Page.setActiveProject(project);moreDetails(project)" >

        <ul class="check-boxes">

            <li ng-repeat="item in project.Technologies | limitTo:4">

                {{item.Name}}<span ng-cloak ng-show='$index==3 || $index==project.Technologies.length-1'>&hellip;</span>

            </li>


        </ul>

            <a ng-href=""  class="more">

                <span>&plus;</span>
                Read More

            </a>

        </div>

    </div>

</div>