<div class="row">
    <div class="columns twelve">
        <p>
            I grew up in a small town called <a href="http://www.perthcanada.com/" traget="_blank" title="Perth Ontario">Perth Ontario</a>. I was fortunate enough to have a close friend at the time that allowed me access to the internet around 1995
            when it was still new.
        </p>
        <p>
            This really expanded my small town view of everything and encouraged my passion for programming. Shortly after that i switched school and started attending <a href="http://www.sjchs.ca/" target="_blank" title="St. John Catholic Highschool">St. John Catholic Highschool</a>
            where they had a Computer Programming class. Very rare for this point in time. I excelled in this class as programmings quick became an early passion for me. I think we were lucky in this class as we had a great teacher,
            <a href="http://ca.ratemyteachers.com/richard-bowen/72344-t" taget="_blank" title="Richard Bowen">Richard Bowen</a> who really drilled the basics into us while we learned
            <a href="http://en.wikipedia.org/wiki/Object-Oriented_Turing" target="_blank" title="Object Oriented Turing">Object Oriented Turing (OOT)</a>.
            I quickly decided to take my passion for programming further and knew that i was going to study it in university.
        </p>
        <p>
            That was however a few years off. Perth being such a small town jobs were limited and that helped diversify my experience. Like many kids back home I work tons of jobs ranging from a farm hand, waiter, dish washer and even did some time in the
            <a href="http://www.army-armee.forces.gc.ca/en/brockville-rifles/index.page" target="_blank" title="Canadian Reserve Forces - Brockville Rifles">Canadian Reserve Forces - Brockville Rifles</a>.
        </p>
        <p>Finally I made it through high school and was off to university. I choose to study Computer Science at <a href="http://www.trentu.ca/" target="_blank" title="Trent University">Trent University</a>
            in Peterborough, Ontario. I lived with my best friend <a href="http://www.eanbowman.com/" target="_blank" title="Ean Bowman">Ean Bowman<a/> who was also pursuing a degree in Computer Science.
            I really loved my time at Trent, but it turned out that at this point in my life it was not for me. After 3yrs of study at Trent I took a break to raise a family. During this time I also,
            following in my parents footsteps, pursued the family business and took to doing Residential Construction to support my growing family. </p>
        <p>I worked in several construction trades till i finally ended up working in <a href="http://en.wikipedia.org/wiki/Spray_foams_(insulation)" target="_blank"  title="Spray Foam Insulation">Spray Foam Insulation</a>.
            I found it a diverse and challenging trade that taught me so much and helped me see so much of the country as we travelled for work but still somethings was missing.</p>
        <p>In 2006 after a fare bit of personal trouble at home i filed for divorce and eventually moved to the GTA. I continued working in the Union as a Spray Foam technician until 2007 when I got offered the opportunity to manage a franchise of
            <a href="http://www.sunshinelandscape.com/" traget="_blank" tilte="Sunshine Grounds Care">Sunshine Grounds Care</a>. I accepted as I was looking for a new challenge in life. Overall this was a great opportunity for
            me and helped me really learn a great deal of management and business operations. However in 2008 I suffered a workplace injury due to faulty machinery. This was a life changing injury and, trying to find the silver lining, i took some time
            to really evaluate where i wanted to be. It didn't take me long to realize this was a chance to finish what i first started and go back to my first passion of programming.</p>
        <p>
            In 2009 I enrolled in <a href="http://www.sheridancollege.ca/programs-and-courses/full-time-programs/programs-a-z-index/computer-programmer.aspx"  title="Sheridan College" target="_blank">Sheridan College</a> to finish off my
            education with there Computer Programmer Class. Sheridan was great and I learned so much while there. I graduated in 18mths and re-started my career as a Web Programmer with my work at
            <a href="http://ur-channel.com/" target="_blank"  title="UR-Channel">UR-Channel</a>. Living in Toronto and doing the commute to Mississauga is not easy. It takes up a ton of time. As such when I was offered a position at
            <a href="http://www.klick.com/" target="_blank" title="Klick Health">Klick Health</a> I took it.
        </p>

    </div>
</div>
        <div class="row">
            <div class="columns twelve text-center">
                <a href="downloads/curriculum_vitae.pdf" class="button" target="_blank">Curriculum Vitae</a>
            </div>
        </div>